html,body
{
    width: 100%;
    height: 100%;
      margin-top: 10px;
  padding-top: 40px;
    overflow-x: hidden; 
    background: url(../images/n2.jpg) no-repeat center center;
}


input[type="text"],
[type="email"],
textarea {
  width: 100%;
  padding: 5px;
   color: #fff;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #215fc2;
  color: #fff;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom:20px;

}

input[type="submit"]:hover {
  background-color: #051630;
}


.contact-Heading{
    padding-top:0px;
    margin-top: 0px;
    font-size: 250%;
    margin-bottom:20px;
    color:#fff;
    text-decoration: underline; 
    
}

.center-form{
    padding-top:10px;
    margin:0 auto;
    max-width: 70%;
}


@media(min-width:992px){
      .center-form{
        padding-top:30px;
        min-height: 240px;
        margin:0 auto;
        max-width: 50%;
        font-size: 1em;
    }
}


label{
    color:#fff;
   
}