@import url("https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap");


body {
  margin-top: 10px;
  padding-top: 40px;
  /*overflow-y: hidden;*/
}


.hero-outer {
  height: 600px;
  width: 100%;
  overflow: hidden;
}

#cover-image {
  height: 600px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background: url(../images/St1.jpg) no-repeat center center;
  padding: 0;
  margin: 0;
}
#cover-text {
  font-size: 110%;
  font-family: lato;
  color: #ffffff;
  background-color: rgba(38, 157, 236, 0.7);
  padding: 20 50 30 15;
  letter-spacing: 1px;
  position: absolute;
  top: 360px;
  right: 145px;
  width: 220px;
  height: 170px;
}

#cover-text p{
    margin-top:1rem;
    padding-left: 5px;
}
#weather-text {
  position: absolute;
  top: 360px;
  left: 245px;
  width: 120px;
 }

input[type="text"],
[type="email"],
textarea {
  width: 100%;
  padding: 5px;
   color: #fff;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #215fc2;
  color: #fff;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom:20px;

}

input[type="submit"]:hover {
  background-color: #051630;
}


.contact-Heading{
    padding-top:0px;
    margin-top: 0px;
    font-size: 250%;
    margin-bottom:20px;
    color:#fff;
    text-decoration: underline; 
    
}

.center-form{
    padding-top:10px;
    margin:0 auto;
    max-width: 70%;
}

@media(min-width:992px){
      .center-form{
        padding-top:30px;
        min-height: 240px;
        margin:0 auto;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
 #cover-text {
  font-size: 110%;
  font-family: lato;
  color: #ffffff;
  background-color: rgba(38, 157, 236, 0.7);
  padding: 20 50 30 15;
  letter-spacing: 1px;
  position: absolute;
  top: 360px;
  right: 145px;
  width: 220px;
  height: 170px;
}

#cover-text p{
    margin-top:1rem;
    padding-left: 5px;
}
#weather-text {
  position: absolute;
  top: 260px;
  left: 245px;
  width: 120px;
 }
}
.section-contact{
   background: url(../images/stockholm.jpg) no-repeat center center;
}

label{
    color:#fff;
    background-color:rgba(38, 157, 236, 0.7);
}
.myButton {
	box-shadow: 3px 4px 0px 0px #1564ad;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border-radius:5px;
	border:1px solid #337bc4;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:12px 44px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.myButton:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}
.myButton:active {
	position:relative;
	top:1px;

/*---------------------maps----------------/
/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 500px;
}
/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#right-panel {
  font-family: "Roboto", "sans-serif";
  line-height: 30px;
  padding-left: 10px;
}

#right-panel select,
#right-panel input {
  font-size: 15px;
}

#right-panel select {
  width: 100%;
}

#right-panel i {
  font-size: 12px;
}

#right-panel {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  right: 5px;
  top: 60%;
  margin-top: -195px;
  height: 330px;
  width: 200px;
  padding: 5px;
  z-index: 5;
  border: 1px solid #999;
  background: #fff;
}

h2 {
  font-size: 22px;
  margin: 0 0 5px 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 271px;
  width: 200px;
  overflow-y: scroll;
}

li {
  background-color: #f1f1f1;
  padding: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

li:nth-child(odd) {
  background-color: #fcfcfc;
}

#more {
  width: 100%;
  margin: 5px 0 0 0;
}
